{% extends 'firstbase.html.twig' %}
{% block title %}About Us!{% endblock %}

{% block body %}
<section class="contact-us" id="contact" style="color: #0d0d0d">
  
    <div class="form-container">
      <div class="example-wrapper">
    
        <h5 style="color: #fff;">   Chez EcoFriendly Solutions, nous croyons en un avenir plus durable. Notre Application s'est engagée à fournir des solutions respectueuses de l'environnement pour répondre aux défis actuels et futurs.</h5>

        <h3 style="color: #b62d2d;">Notre Équipe : </h3>
        <h5 style="color: #fff;">Rencontrez l'équipe dévouée derrière EcoFriendly Solutions. Chacun de nos membres apporte une expertise unique dans les domaines de la durabilité, de la technologie verte et de l'innovation. Ensemble, nous formons une force motivée pour créer un impact positif.</h5>
        <h3 style="color: #b62d2d;">Notre Vision : </h3>
        <h5 style="color: #fff;">Nous aspirons à un monde où la durabilité est au cœur de chaque décision. Notre vision est de catalyser le changement en proposant des alternatives éco-responsables et en inspirant les autres à adopter un mode de vie respectueux de l'environnement.</h5>

        <h5 style="color: #fff;"> Explorez notre histoire, découvrez nos projets et rejoignez-nous dans la construction d'un avenir plus vert. Merci de choisir EcoFriendly Solutions pour faire une différence dans le monde!</h5>
      </div>
    </div>
</section>
{% endblock %}