{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-circle"></i> Le nombre maximal de participants pour cet événement est atteint.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
