
/* styles.css */

.form-container {
    width: 50%; /* Ajustez la largeur du conteneur selon vos besoins */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    align-items: center;
    justify-content: center;
}

.form-group {
    margin-bottom: 15px; /* Ajoute un espace entre chaque groupe de champ */
}

.align {
    margin-top:10px;
   /* padding-top:30px;*/
    
}
/* Personnalisez davantage le style des champs si nécessaire */

.color {
   background-color: whitesmoke
}
.formu-Postlabel{
    padding-Right :20px;
}
.hh2{
    padding :30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-project{
    Padding-right : 0px;
}
/* public/css/styles.css */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    height: 200px;
    width: 500px;
}
.red-button {
    background-color: #ff0000; /* Rouge */
    color: #fff; /* Texte blanc */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .red-button:hover {
    background-color: #cc0000; /* Rouge foncé au survol */
  }