{% extends 'firstbase.html.twig' %}
{% block title %}Edit user{% endblock %}

{% block body %}
    <h1>Edit user</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Save Changes</button>
    {{ form_end(form) }}

    <a href="{{ path('app_user') }}">Back to list</a>
{% endblock %}
